* {
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.5s;
}

.button {
    height: 75px;
    aspect-ratio: 1;
    border: 2px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}

#textbox {
    font-size: 35px;
    border-radius: 1em;
    border: 1px solid;
    width: 80%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#calculator {
    display: flexbox;
    border: 1px solid;
    width: 350px;
    align-items: center;
    text-align: center;
    border-radius: 1em;
    margin: auto;
}

.button:hover {
    color: white;
    background-color: rgb(13, 1, 255);
    transform: scale(1.1);
}

.row {
    margin: 10px;
}

.light {
    color: black;
    background-color: white;
    border-color: black;
}

.dark {
    color: white;
    background-color: black;
    border-color: white;
}

@media(max-width:1280px) {
    #calculator {
        width: 100%;
    }
}